.dub
docs.json
__dummy.html
docs/
derelict-as.so
derelict-as.dylib
derelict-as.dll
derelict-as.a
derelict-as.lib
derelict-as-test-*

libderelict-as.so
libderelict-as.dylib
libderelict-as.dll
libderelict-as.a
libderelict-as.lib
libderelict-as-test-*

libastest_derelict-as.a
*.exe
*.o
*.obj
*.lst
